In [3]:
using CSV

In [5]:
using DataFrames

In [6]:
df = DataFrame([1 "one" "일"
                2 "two" "이"
                3 "three" "삼"], [:number, :Eng, :Kor])

3×3 DataFrame
 Row │ number  Eng     Kor
     │ Any     Any     Any
─────┼─────────────────────
   1 │ 1       one     일
   2 │ 2       two     이
   3 │ 3       threee  삼

In [7]:
CSV.write("example.csv", df)

"example.csv"

In [9]:
CSV.read("example.csv", DataFrame)

6×3 DataFrame
 Row │ number  Eng      Kor
     │ Int64   String7  String3
─────┼──────────────────────────
   1 │      1  one      일
   2 │      2  two      이
   3 │      3  three    삼
   4 │      4  four     사
   5 │      5  five     오
   6 │      6  six      육